body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background: #f6f6ef!important;
    padding-top: 20px!important;
}

.App {
    &_header {
        display: flex;
        &_updateButton {
            flex: 0 1 0;
            white-space: nowrap;
        }
        &_errorMessage {
            flex: 1 0 0;
            align-self: flex-end;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 13px;
            font-weight: bold;
            color: red;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &_updatedAt {
            align-self: flex-end;
            flex: 0 1 0;
            font-size: 13px;
            white-space: nowrap;
            color: rgb(160, 160, 160);
        }
    }
}
